﻿@{
    ViewBag.Title = "Shifts Tab";
    int i = 1;
}


@model IEnumerable<AMiONGraphShift.Controllers.AMiONShiftDetails>

<style>

    .ImportShiftDiv {
        font-family: "Segoe UI";
    }

    .SelDepartment {
        border: none;
        background: inherit;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0;
        color: #252423;
        font-family: inherit;
        font-size: 14px;
        font-weight: bold;
    }

        .SelDepartment:focus {
            outline: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            border-radius: 0;
            color: #6264A7;
        }

        .SelDepartment:hover {
            outline: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            border-radius: 0;
            color: #6264A7;
        }

    .SelDepartmentOption {
        height: 200px;
        overflow-y: auto;
    }

    .txtDatetimePicker {
        cursor: pointer;
        background: inherit;
        font-size: 17px;
        border: none;
        -webkit-box-shadow: none;
        float: left;
        box-shadow: none;
        border-radius: 0;
        color: #252423;
        font-family: inherit;
        font-size: 14px;
        font-weight: bold;
    }

        .txtDatetimePicker:hover {
            outline: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            border-radius: 0;
            color: #6264A7;
        }

        .txtDatetimePicker:focus {
            outline: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            border-radius: 0;
            color: #6264A7;
        }

    .SelectDepartment {
        cursor: pointer;
    }

    .ShiftInActive {
        background: #F9F8F7;
    }

        .ShiftInActive td {
            color: #979593;
            font-size: 14px;
        }

    .ShiftActive {
        background: #FFFFFF
    }

        .ShiftActive td {
            color: #484644;
            font-family: inherit;
            font-size: 14px;
        }

    #AmionShiftDetailsTable tr td, #AmionShiftDetailsTable tr th {
        height: 48px;
        vertical-align: middle;
    }

    #AmionShiftDetailsTable thead tr td {
        font-size: 12px
    }

    #AmionShiftDetailsTable tbody tr td {
        overflow-wrap: break-word;
    }
</style>
<style>

    .styled-checkbox {
        position: absolute;
        opacity: 0;
    }

        .styled-checkbox + label {
            position: relative;
            cursor: pointer;
            padding: 0;
        }

            .styled-checkbox + label:before {
                content: '';
                margin-right: 10px;
                display: inline-block;
                vertical-align: text-top;
                width: 15px;
                height: 14px;
                background: #6264A7;
                border-radius: 15%;
            }

        .styled-checkbox:hover + label:before {
            background: #6264A7;
        }

        .styled-checkbox:focus + label:before {
            box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
        }

        .styled-checkbox:checked + label:before {
            background: #6264A7;
        }

        .styled-checkbox:disabled + label {
            color: #b8b8b8;
            cursor: auto;
        }

            .styled-checkbox:disabled + label:before {
                box-shadow: none;
                background: #6264A7;
            }

        .styled-checkbox:checked + label:after {
            content: '';
            position: absolute;
            left: 3px;
            top: 7px;
            background: white;
            width: 2px;
            height: 2px;
            box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
            transform: rotate(45deg);
        }
</style>
<style>

    .datepicker > .datepicker_inner_container > .datepicker_calendar > .datepicker_table > tbody > tr > td {
        padding: 8px !important;
    }

    .datepicker > .datepicker_inner_container > .datepicker_calendar {
        width: 15.3em !important;
    }

    .datepicker_table tr th {
        padding-left: 8px !important;
        font-weight: 500;
        font-size: 14px;
        font-family: Segoe UI !important;
    }

    .datepicker > .datepicker_inner_container > .datepicker_calendar > .datepicker_table > tbody > tr > td.active {
        background-color: #6264A7;
    }



    .datepicker > .datepicker_inner_container > .datepicker_timelist > div.timelist_item.active {
        background-color: #6264A7 !important;
    }

    .datepicker_header > span {
        vertical-align: initial;
        padding: 5px;
        font-size: 14px;
        color: #252423;
        font-weight: bold;
    }

    .datepicker > .datepicker_header > a {
        color: gray;
    }

    .datepicker > .datepicker_inner_container > .datepicker_calendar > .datepicker_table > tbody > tr > td.wday_sat, .datepicker > .datepicker_inner_container > .datepicker_calendar > .datepicker_table > tbody > tr > td.wday_sun {
        color: inherit !important;
    }

    .datepicker > .datepicker_inner_container > .datepicker_calendar > .datepicker_table > tbody > tr > td.day_another_month.wday_sat, .datepicker > .datepicker_inner_container > .datepicker_calendar > .datepicker_table > tbody > tr > td.day_another_month.wday_sun {
        color: #cccccc !important;
    }

    .datepicker {
        background-color: rgb(210, 210, 210);
        border: 1px solid rgb(200, 200, 200);
        border-radius: 3px;
        box-shadow: rgb(200, 200, 200) 0.5px 0px 3px;
    }

        .datepicker > .datepicker_header > a:hover {
            background-color: #6264A7 !important;
        }

    .datepicker_header {
        background-color: #FFFFFF !important;
    }
</style>
<!--add a new style tag-->
<style>

    .table-head {
        height: 16px;
        width: 165px;
        color: rgba(37,36,36,0.75);
        font-size: 12px;
        line-height: 16px;
        font-weight:normal;
    }

    .table-body{
        height: 20px;
        color: #484644;		
        font-size: 14px;	
        line-height: 20px;
    }
</style>
<!--add a new style tag-->
<div class="ImportShiftDiv" style="font-family:Segoe UI">
    <div style="display:inline-flex; position:relative">
        <div class="btn-group">
            <button class="btn SelDepartment" type="button" data-toggle="dropdown" title="Select a Team">
                <span id="SpanDepartment">All Groups</span>
                <span class="glyphicon glyphicon-chevron-down" style="font-size: 12px;"></span>
            </button>
            <ul class="dropdown-menu SelDepartmentOption" style="min-width: 219px;">
                <li class="SelectDepartment">
                    <div style="margin: 5px 5px;">
                        <input class="styled-checkbox " id="chkAllGroups" type="checkbox">
                        <label style="font-weight: normal;font-size: 13px;" for="chkAllGroups">All Groups</label>
                    </div>
                </li>
                @foreach (var Department in ViewBag.DepartmentList)
                {
                    <li class="SelectDepartment">
                        <div style="margin: 5px 5px;">
                            <input class="styled-checkbox " id="chkAllGroups-@(i)" type="checkbox">
                            <label style="font-weight: normal;font-size: 13px;" for="chkAllGroups-@(i++)">@Department</label>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <input type='button' readonly="readonly" class="txtDatetimePicker" id="datetimepicker" value="" />

    </div>

    <div>
        <div style="background:white;overflow-x:auto">
            <table id="AmionShiftDetailsTable" class="table table-responsive  tablesorter">
                <!--add a class-->
                <thead class="table-head">
                    <tr>
                        <!--change th to td-->
                        <td><span style="width: 165px;">Department</span></td>
                        <td><span style="width: 185px;">Role</span></td>
                        <td><span style="width: 185px;">Name</span></td>
                        <td style="min-width:90px" data-tablesorter="false"><span style="width: 148px;">Shift Time</span></td>
                        <td data-tablesorter="false"><span style="width: 120px;">Pager</span></td>
                        <td style="min-width:150px" data-tablesorter="false"><span style="width: 150px;">Contact No</span></td>
                        <td data-tablesorter="false">Action</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var shift in Model)
                    {
                        <!--add a class-->
                        <tr ShiftStart="@shift.ShiftStart" ShiftEnd="@shift.ShiftEnd" >
                            <td><span style="width: 165px;overflow-wrap: break-word;">@shift.Division</span></td>
                            <td><span style="width: 185px;overflow-wrap: break-word;">@shift.Role</span></td>
                            <td><span style="width: 185px;overflow-wrap: break-word;">@shift.Name</span></td>
                            <td><span style="width: 148px;overflow-wrap: break-word;">@shift.ShiftTime</span></td>
                            <td><span style="width: 120px;overflow-wrap: break-word;">@shift.Pager</span></td>
                            <td><span style="width: 150px;overflow-wrap: break-word;">@shift.Contact</span></td>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    let weekday = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];

    let month = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

    SearchShift = (searchWord) => {
        $.each($("#AmionShiftDetailsTable > tbody").find("tr"), function (index, $tr) {
            if (searchWord === "") {
                $($tr).show();
                return true;
            }
            $($tr).show();
            let shiftContent = "";
            $.each($($tr).children(), function (childIndex, childValue) {
                if (!$(childValue).is(":hidden"))
                    shiftContent += $(childValue).text();
            });

            if (shiftContent.indexOf(searchWord) === -1)
                $($tr).hide();
            else
                $($tr).show();

        });
    };

    HighlightActiveShift = (currentTime) => {
        $.each($("#AmionShiftDetailsTable > tbody").find("tr"), function (index, $tr) {
            let ShiftStart = parseInt($($tr).attr("ShiftStart"));
            let ShiftEnd = parseInt($($tr).attr("ShiftEnd"));
            if ((ShiftStart < ShiftEnd && ShiftStart <= currentTime && currentTime <= ShiftEnd) || (ShiftStart > ShiftEnd && ShiftStart <= currentTime) || (ShiftStart === ShiftEnd)) {
                $($tr).removeClass("ShiftInActive").removeClass("ShiftActive").addClass("ShiftActive");
            }
            else {
                $($tr).removeClass("ShiftActive").removeClass("ShiftInActive").addClass("ShiftInActive");
            }
        });
    };

    formatAMPM = (date) => {
        let hours = date.getHours();
        //let minutes = date.getMinutes();
        let ampm = hours >= 12 ? 'pm' : 'am';
        hours = hours % 12;
        hours = hours ? hours : 12;
        // minutes = minutes < 10 ? '0' + minutes : minutes;
        var strTime = hours + ampm;
        return strTime;
    };

    SetSelDateAndHighlightActiveShift = selDate => {
        $('#datetimepicker').handleDtpicker('setDate', new Date(selDate.getFullYear(), selDate.getMonth(), selDate.getDate(), 12, 00));
        $('#datetimepicker').val(weekday[selDate.getDay()] + ", " + month[selDate.getMonth()] + " " + selDate.getDate() + ", " + selDate.getFullYear() + " at 12pm");
        if (selDate.getFullYear() === new Date().getFullYear() && selDate.getMonth() === new Date().getMonth() && selDate.getDate() === new Date().getDate())
            HighlightActiveShift(1200);
    };


    $(function () {


        $('.tablesorter').tablesorter();
        $(".SelectDepartment input").prop("checked", true);

        $(".SelectDepartment").on("click", function (e) {

            e.stopPropagation();
            let allGroups = "All Groups"
            let departmentText = $(this).text().trim();
            let isAllGroupChecked = $("#chkAllGroups").is(":checked");
            let isAllGroups = departmentText === allGroups;

            if (isAllGroups) {
                $(".SelectDepartment input").prop("checked", isAllGroupChecked);
            }

            let selectedDepartmentArray = [];
            $.each($(".SelectDepartment input:checked"), function (index, $li) {
                selectedDepartmentArray.push($($li).parent().text().trim());
            });

            $.each($("#AmionShiftDetailsTable > tbody").find("tr"), function (index, $tr) {
                if (isAllGroups) {
                    if (isAllGroupChecked)
                        $($tr).show();
                    else
                        $($tr).hide();
                    return;
                }
                $($tr).show();
                let shiftContent = "";
                $.each($($tr).children(), function (childIndex, childValue) {
                    if (!$(childValue).is(":hidden"))
                        shiftContent += $(childValue).text();
                });
                for (var i = 0; i < selectedDepartmentArray.length; i++) {
                    if (shiftContent.indexOf(selectedDepartmentArray[i]) > -1) {
                        $($tr).show();
                        break;
                    }
                    else
                        $($tr).hide();
                }
            });

            let allChecked = true;
            $.each($(".SelectDepartment input"), function (index, $input) {
                if (index === 0 || allChecked === false)
                    return;
                allChecked = $($input).is(":checked");
            });
            selectedDepartmentArray = selectedDepartmentArray.filter(function (item) {
                return item !== allGroups
            });
            $("#chkAllGroups").prop("checked", allChecked);
            if (allChecked === true)
                $("#SpanDepartment").html(allGroups);
            else {
                if (selectedDepartmentArray.length > 1)
                    $("#SpanDepartment").html("Selected " + selectedDepartmentArray.length + " Groups");
                else
                    $("#SpanDepartment").html(departmentText);

            }
        });


        $('#datetimepicker').appendDtpicker({
            "amPmInTimeList": true,
            "minuteInterval": 60,
            "locale": "en",
            "todayButton": false,
            "closeButton": false,
            "onSelect": function (handler, targetDate, isDateClick) {
                var d = handler.getDate();
                $('#datetimepicker').val(weekday[d.getDay()] + ", " + month[d.getMonth()] + " " + d.getDate() + ", " + d.getFullYear() + " at " + formatAMPM(d));
                $('#datetimepicker').handleDtpicker('hide');

                if (isDateClick === "date")
                    window.location.href = "/Shifts/Index?selDate=" + d.getFullYear() + "-" + (("0" + (d.getMonth() + 1)).slice(-2)) + "-" + (("0" + d.getDate()).slice(-2));
                else {
                    if (d.getFullYear() === new Date().getFullYear() && d.getMonth() === new Date().getMonth() && d.getDate() === new Date().getDate()) {
                        let currentTime = parseInt(("0" + d.getHours()).slice(-2) + "" + ("0" + d.getMinutes()).slice(-2));
                        HighlightActiveShift(currentTime);
                    }
                }

            }
        });

        let queryString = decodeURI(window.location.search)
            .replace('?', '')
            .split('&')
            .map(param => param.split('='))
            .reduce((values, [key, value]) => {
                values[key] = value
                return values
            }, {});

        if (queryString.selDate !== undefined) {
            var date = moment(queryString.selDate, "YYYY-MM-DD").toDate();
            SetSelDateAndHighlightActiveShift(date);
        }
        else
            SetSelDateAndHighlightActiveShift(new Date());

        setInterval(() => {
            try {
                let height = $($(".datepicker_calendar")[0]).height();
                if (height > -1)
                    $(".datepicker_timelist").css("height", height);
            } catch (e) { }
        }, 1000);
    });
</script>


