﻿html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    min-height: 99%;
}
/**
 * Footer Styles
 */

.footer {
    min-height:1%;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 1rem;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

@keyframes tablesorter-anim {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

table.tablesorter {
}

    table.tablesorter tbody tr {
        animation-name: tablesorter-anim;
        animation-duration: 0.15s;
    }

th.tablesorter-header {
    cursor: pointer;
}

th.tablesorter-sorting {
    cursor: wait;
}

th.tablesorter-unsorted:before {
    content: "\2195";
}

th.tablesorter-desc:before {
    content: "\2191";
}

th.tablesorter-asc:before {
    content: "\2193";
}

@media (min-width: 992px) {
    .container {
        width: 100% !important;
    }
}

@media (min-width: 768px) {
    .container {
        width: 100% !important;
    }
}

table > thead > tr > th {
    outline: none !important;
}

.ulcustom {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.EditColumnIcon {
    float: right;
    margin: 10px;
    margin-top: 6px;
    cursor: pointer;
    color: inherit;
}

.btnEditColumn {
    background-color: #f3f2f0;
    border: none;
    color: black;
    padding: 5px 11px 5px 9px;
    font-size: 14px;
    cursor: pointer;
    float: left;
    margin-right: 8px;
    /* font-weight: bold; */
    /* cursor: crosshair; */
    cursor: move;
    text-decoration: none !important;
    margin-bottom: 4px !important;
}


.one-edge-shadow {
    -webkit-box-shadow: 0 8px 6px -6px gray;
    -moz-box-shadow: 0 8px 6px -6px gray;
    box-shadow: 0 8px 6px -6px gray;
}

body {
    background: #f3f2f0;
}

.btnEditColumnIcon {
    font-size: x-small;
    font-weight: 400;
    float: right;
    left: 9px;
    color: lightslategrey;
    cursor: pointer;
    top: 5px;
}

.has-search .form-control-feedback {
    right: 0;
    left: initial;
    color: #ccc;
}

.has-search .form-control {
    padding-right: 30px;
    padding-left: 3px;
}

.AMiONShiftTitle {
    color: #7070a2;
    font-weight: bold;
    margin-right: 10px;
    font-size: 1.4em;
    float: left;
    width: 163px
}

.dropdownShiftTeam {
    color: #7070a2;
    font-weight: bold;
    cursor: pointer;
    background: inherit;
    border: none;
    -webkit-box-shadow: none;
    float: left;
    box-shadow: none;
    border-radius: 0;
}

.dropdownShiftTeamIcon {
    color: #7070a2;
    margin-top: 8px;
    float: left;
    font-weight: inherit
}

.txtDataPicker {
    width: 139px;
    color: #7070a2;
    font-weight: bold;
    cursor: pointer;
    background: inherit;
    font-size: 1.12em;
    border: none;
    -webkit-box-shadow: none;
    float: left;
    box-shadow: none;
    border-radius: 0;
}

.txtDataPickerIcon {
    color: #7070a2 !important;
    z-index: 1;
    margin-left: -28px;
    margin-top: 9px;
    float: left;
}

.navbar {
    min-height: 36px !important;
    margin-bottom: 0px !important
}

.switchCustom {
    float: right;
    margin-right: 10px;
    margin-top: 4px;
}

.btn-primary {
    color: #fff;
    background-color: #7070a2 !important;
    border-color: #7070a2 !important;
}

.switchLabel {
    color: #7070a2;
    float: right;
    /* background: #7070a2; */
    margin-top: 7px;
}

.txtSearch {
    width: 230px;
    float: right;
    height: 32px;
}

.btnImport {
    float: right;
    margin-left: 8px;
    height: 31px;
}

/*Switch*/
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 19px;
        width: 18px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }
/*switch*/
.shiftActive > td {
    font-weight: bold;
}

.rowCustom {
    margin-right: 15px !important;
    margin-left: 15px !important;
}

.citeCustom {
    font-size: smaller;
    font-weight: 200;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

body > .grid {
    height: 100%;
}

.image {
    margin-top: -40px;
}

.column {
    max-width: 550px;
}

.my-container {
    margin: 0em 0em 0.5em 0em;
    padding: 0em 0em 0.5em 0em;
    /*background: #e0e1e2 none;*/
}

.field-validation-error {
    color: red;
}

.input-validation-error {
    border: 2px solid red;
}
.checkBoxContainer{
    width:100%;
}
.alignLeft{
    float:left;
}
.alignRight{
    float:right;
    font-size:1.3em;
    padding-top:0.5em;
}

#idDepartment{
    margin:0px;
    padding:0px;
}

.ui.toggle.checkbox #idDepartment:checked ~ .box:before, .ui.toggle.checkbox #idDepartment:checked ~ label:before {
    background-color: #2185d0 !important
}

.inputBackground {
    background: #e0e1e2;
}

.backgroundWhite {
    background: #fff;
}


.ui.multiple.dropdown > .label {
    background: none;
}

.ui.dropdown .remove.icon {
    font-size: 0.857143em;
    float: left;
    margin: 0;
    padding: 0;
    left: -0.2em;
    top: 0.5em;
    position: relative;
    opacity: 0.5;
    cursor: pointer;
    display: block;
}

.ui.dropdown input[value=''] ~ .remove.icon, .ui.dropdown input:not([value]) ~ .remove.icon {
    display: none;
}


.departmentBox{
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 8.5em;
}
#divUpload {
    cursor: pointer;
    width: 100%;
    background: 0 0 #fff !important;
}

.myInputBackground {
    background: 0 0 #e0e1e2 !important;
}


#multipleSelDepartments > .item {
    padding: 0.5rem !important
}