﻿@model AMiON.Helper.AMiONShiftMappingModel
@{
    ViewBag.Title = "Home Page";
}
<div class="ui fluid wrapper">
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <div class="inline">
                <img src="~/Content/images/AMiON.png" height="11%" width="11%" alt="AMiON" class="image" />
                <p class="ui medium header">Welcome to AMiON</p>
            </div>
            <p class="ui tiny header" style="font-weight:normal;padding:1em">
                To get started, you need to set a few things up. Once your tab is set up,
                it will be available to your entire team.
            </p>
        </div>
    </div>
    <div class="my-container">
        <div class="ui form">
            <div class="row">
                <div class="field">
                    <p>Login</p>
                    <input type="text" tabindex="0" name="login" style="background:#e0e1e2" placeholder="Type your login info" id="amionLoginData">
                </div>
            </div>
            <div class="row">
                <div class="ui toggle checkbox alignLeft">
                    <input type="checkbox" name="chkDepartments" id="idDepartment">
                    <label>
                        Enable targeted messages with the on-call schedule.
                    </label>
                </div>
                <div class="alignRight">
                    <i class="info circle icon"></i>
                </div>
                <div class="clear:both"></div>
            </div>
            <div id="helperContainer">
                <div class="row">
                    <div class="my-container">
                        <p>Select departments</p>
                        <div class="column departmentBox" id="departmentContainer">
                            <div class="ui fluid search selection dropdown clearable multiple"  id="selectDepartment" style="background:#e0e1e2;" data-content="Please select atleast a department..." data-position="bottom center">
                                <input type="hidden" name="departments" value="" id="departmentInput" />
                                <i class="remove icon" id="removeDepartmentDropdown" data-content="Clear all selected departments" data-position="left center"></i>
                                <span class="default text">Select Department</span>
                                <div class="menu transition hidden" tabindex="-1" id="multipleSelDepartments" style="overflow:hidden;" >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="my-container">
                        <div class="field">
                            <p>Add mapping file</p>
                            <div class="fields">
                                <div class="twelve wide field">
                                    <input type="text" readonly name="mappingFilePath" id="mappingFilePath" style="background:#e0e1e2">
                                </div>
                                <div class="four wide field">
                                    <div class="ui primary basic blue button" id="divUpload">
                                        <input type="file" class="inputfile" name="uploadedFile" style="display:none" id="uploadMappingFileInput" />
                                        <label for="uploadMappingFileInput">
                                            Browse
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <iframe id="frame" style="display:none"></iframe>
                        <a id="downloadMappingFileInput" style="cursor:pointer;text-decoration:none">Download sample</a>
                    </div>
                </div>
            </div>
         </div>
    </div>
</div>
<div class="footer ui fluid">
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <div class="row">
                <div class="ui checkbox alignLeft">
                    <input type="checkbox" tabindex="0" id="postToChannel">
                    <label for="postToChannel">Post to the channel about this tab</label>
                </div>
                <div class="alignRight">
                    <button class="ui button" type="submit" id="btnSubmit">
                        Save
                    </button>
                </div>
                <div class="clear:both"></div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var formData = null;
        var uniqueDepartments = [];
        $(document).ready(function () {
            //$('.small.modal').modal('hide');
            $('#selectDepartment').dropdown({ clearable: true });
            $('#removeDepartmentDropdown').on('click', function (e) {
                $(this).parent('.dropdown').dropdown('clear');
                e.stopPropagation();
            });
            $('#btnSubmit').attr("disabled", "true");



            $('#amionLoginData').focusout(function () {
                if ($(this).val() !== "") {
                    $('#btnSubmit').removeAttr("disabled");
                    $('#btnSubmit').addClass("blue");
                }
                else {
                    $('#btnSubmit').attr("disabled", "true");
                    $('#btnSubmit').removeClass("blue");
                }
            });
            
            $('#selectDepartment').dropdown({
                on: 'click',
                onAdd: function (addedValue, addedText, $addedChoice) {
                    console.log('onAdd', addedValue, addedText, $addedChoice);
                    console.log($addedChoice);
                        $(this).dropdown('remove selected', addedValue);
                    },
                onLabelCreate: function (value, text) {
                    console.log('onLabelCreate', value, text);
                    console.log($(this));
                    return $(this);
                }
            });
            $('#selectDepartment').focusout(function () {
                $('#departmentContainer').removeClass("departmentBox");
            });
            $('#selectDepartment').focusin(function () {
                $('#departmentContainer').addClass("departmentBox");
            });


            $('#btnSubmit').click(function () {
                $.ajax({
                url: window.location.origin + '/ProcessShifts/'+$('#amionLoginData').val(),
                type: "POST",
                success: function (departmentResponse) {
                    alert('Request is processing');
                },
                failure: function () {
                    alert('Apologies for inconvience cause, Please try again...');
                }
            });
            });

            $('#removeDepartmentDropdown').popup({ on: 'hover' });
            $('.message .close').on('click', function () {
                $(this).closest('.message').transition('fade');
            });
            $('#helperContainer').hide();
            $('#idDepartment').click(function () {
                if ($(this).prop("checked") == true) {
                    var url = window.location.origin + '/AmionData/'+$('#amionLoginData').val();
                    displayDepartmentData(url);
                }
                else if ($(this).prop("checked") == false) {
                    $('#helperContainer').hide();
                }
            });

            $('#uploadMappingFileInput').change(function (e) {
                e.preventDefault();
                var url = window.location.origin + '/SaveFile/'

                var formdata = new FormData(); //FormData object
                var fileInput = $('#uploadMappingFileInput').get(0);
                
                formdata.append(fileInput.files[0].name, fileInput.files[0]);
                $.ajax({
                    url: url,
                    type: "POST",
                    data: formdata,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        if (data.success) {
                            $('#mappingFilePath').val(fileInput.files[0].name);
                        }
                        else {
                            //Show error on page
                        }
                    },
                    error: function (xhr, error, status) {
                        console.log(error, status);
                    }
                });
            });
            $('#divUpload').on('click', function () {
                $('#uploadMappingFileInput').click();
            });

            $('#downloadMappingFileInput').on('click', function () {
                download('/Download/Mapping.xlsx');
            });
        });

        function download(path) {
            var ifrm = document.getElementById("frame");
            ifrm.src = path;
        }
        function displayDepartmentData(url) {
            $.ajax({
                url: url,
                type: "GET",
                success: function (departmentResponse) {
                    $("#multipleSelDepartments").empty();
                    var multipleSelDepartments = $("#multipleSelDepartments");
                    //Added check to handle the disable scenario of next button in Select Department modal pop up
                    if (departmentResponse.length > 0) {
                        $(departmentResponse).each(function () {
                            var div = $("<div />");
                            div.addClass("item");
                            div.html(this.DepartmentName + ' <br/><label>Shifts '+this.ShiftsCount+ '</label>');
                            div.val(this.DepartmentName);     
                            //Add the Option element to DropDownList.
                            multipleSelDepartments.append(div);
                        });
                        $('#helperContainer').show();
                    }
                    else {
                        //TODO:Disable button
                    }
                    $('#departmentContainer').removeClass("departmentBox");
                },
                failure: function () {
                    alert('Apologies for inconvience cause, Please try again...');
                }
            });
        }

        function resetFields(form) {
            $(':input', form).each(function () {
                var type = this.type;
                var tag = this.tagName.toLowerCase(); // normalize case
                // to reset the value attr of text inputs,
                // password inputs, fileUpload and textareas
                if (type == 'text')
                    this.value = "";
            });
            $('.field .error').text('');
        }
    </script>
}
